<div class="flex justify-center pt-10">
    <input 
           #searchInput
           (keydown.enter)="onInputChange(searchInput.value)"
           placeholder="Search Repositories" 
           class="outline-none rounded-s-lg py-2 px-2 text-white bg-black w-1/2 shadow-lg" 
           type="text"
           
           >
    <button (click)="onInputChange(searchInput.value)" 
            class="py-2 px-2 text-white bg-black">
      <mat-icon aria-hidden="false" aria-label="false" fontIcon="search"/>
    </button>
    <!-- <app-filter (filterChange)="onFilterChange($event)"></app-filter> -->
  </div>
  