
<div class="pt-10">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2" >
        <div class="outline outline-slate-300 outline-1 rounded-md py-2 px-2" *ngFor="let items of data">
            <div class="flex items-center gap-2">
                <img [src]="items.owner.avatar_url" alt="" class="rounded-full w-5"> 
                <a [href]="items.url" target="_blank" class="text-xl text-[#c2410c]">{{ items.name }}</a>
            </div>
            <div class="grid">
                <span class="text-white text-base">{{items.description}}</span>
                <span class="text-gray-300 text-sm">{{items.language}}</span>
            </div>  
            <div>
                <div class="flex gap-2 flex-wrap pt-2">
                    <ng-container *ngFor="let topic of items.topics.slice(0,5); let i = index">
                      <p
                        [class.bg-red-900]="i < 5"
                        class="text-gray-50 text-sm  inline-block rounded-lg px-2 py-1 hover:bg-red-800 cursor-pointer mb-2"
                      >
                        {{ topic }}
                      </p>
                    </ng-container>
                  </div>
            </div>
            <div class="flex items-center gap-5">
                <span class="text-gray-300 text-sm flex items-center gap-2">{{items.stargazers_count}} Stars </span>
                <span class="text-gray-300 text-sm">{{items.forks_count}} Forks</span>
                <span class="text-gray-300 text-sm">{{items.watchers_count}} Watchers</span>
            </div>
        </div>
    </div>
</div>
